{{define "form"}}
<style type="text/css">
	.layui-upload-drag {
		position: relative;
		padding: 10px;
		border: 1px dashed #e2e2e2;
		background-color: #fff;
		text-align: center;
		cursor: pointer;
		color: #999;
	}
</style>
<form class="layui-form model-form" action="">
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">友链名称：</label>
			<div class="layui-input-inline">
				<input name="name" lay-verify="required" autocomplete="off" placeholder="请输入友链名称" class="layui-input" type="text">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">URL地址：</label>
			<div class="layui-input-inline">
				<input name="url" lay-verify="required" autocomplete="off" placeholder="请输入友链URL地址" class="layui-input" type="text">
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">LOGO：</label>
		<div class="layui-input-block">
			<div class="layui-upload-drag">
				<img id="logo_show_id" src="/static/assets/images/default_upload.png" alt="上传图片" width="90" height="90">
				<input type="hidden" id="logo" name="image" value="">
			</div>
			<div style="margin-top:10px;">
				<button type="button" class="layui-btn" id="upload_logo"><i class="layui-icon"></i>上传图片</button>
			</div><div class="layui-form-mid layui-word-aux">建议尺寸：建议上传尺寸450x450</div>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">状态：</label>
			<div class="layui-input-inline">
				<input type="checkbox" id="status" checked="" value="1" name="status" lay-skin="switch" lay-filter="status" lay-text="开启|禁用">
			</div>
		</div>
		<label class="layui-form-label">序号：</label>
		<div class="layui-input-inline">
			<input name="sort" lay-verify="required|number" autocomplete="off" placeholder="请输入序号" class="layui-input" type="text">
		</div>
	</div>
	<div class="layui-form-item text-center model-form-footer">
		<button class="layui-btn" lay-filter="submitForm" lay-submit="">立即保存</button>
		<button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">关闭</button>
	</div>
</form>
<script>

	layui.use(['upload','croppers' ],function(){
		//声明变量
		var layer = layui.layer
				,upload = layui.upload
				,croppers = layui.croppers
				,$ = layui.$;

		if(1==1) {
			//图片裁剪组件
			croppers.render({
				elem: '#upload_logo'
				,name:"image"
				,saveW:450     //保存宽度
				,saveH:450
				,mark:1    //选取比例
				,area:['750px','500px']  //弹窗宽度
				,url: "/upload/uploadImage"
				,done: function(url){
					//上传完毕回调
					$('#logo').val(url);
					$('#logo_show_id').attr('src',url);
				}
			});
		}else{
			/**
			 * 普通图片上传
			 */
			var uploadInst = upload.render({
				elem: '#upload_logo'
				,url: "/upload/uploadImage"
				,accept:'images'
				,acceptMime:'image/*'
				,exts: "jpg|png|gif|bmp|jpeg"
				,field:'file'//文件域字段名
				,size: 10240 //最大允许上传的文件大小
				,before: function(obj){
					//预读本地文件
				}
				,done: function(res){
					//上传完毕回调

					if(res.code != 0){
						layer.msg(res.msg,{ icon: 5 });
						return false;
					}

					//上传成功
					$('#logo_show_id').attr('src', res.data.fileUrl);
					$('#logo').val(res.data.fileUrl);
				}
				,error: function(){
					//请求异常回调
					return layer.msg('数据请求异常');
				}
			});

		}
	});

</script>
<script>
	layui.use(['form'], function(){
		var form = layui.form,
				$ = layui.$;

		form.on('switch(status)', function(data) {
			$(data.elem).attr('type', 'hidden').val(this.checked ? 1 : 2);})})
</script>
{{end}}
